# Connect to FHIR SQL Builder

In [1]:
import intersystems_iris as iris

## Create the dbapi connection

In [24]:
# create the dbapi connection

host = "oscar"
port = 1972
namespace = "FHIRSERVER"
user = "SuperUser"
password = "SYS"

conn = iris.connect(
                    hostname=host, 
                    port=port, 
                    namespace=namespace, 
                    username=user, 
                    password=password
                   )

# create a cursor
cur = conn.cursor()

NameError: name 'iris' is not defined

## Create the DriverLicense Table

In [3]:
# execute a query
cur.execute("""create TABLE if not exists AB.DriverLicense (

    Code varchar(255) not null,
    Valide TINYINT not null

)""")

0

## Insert New Data

In [4]:
cur.execute("""delete AB.DriverLicense""")

0

In [5]:
cur.execute("""INSERT INTO AB.DriverLicense (Code, Valide) VALUES ('S99916528', 1)""")
cur.execute("""INSERT into AB.DriverLicense (Code, Valide) VALUES ('S99950276', 0)""")

1

## Check new data

In [6]:
cur.execute("select * from AB.DriverLicense")
cur.fetchall()

[Row(Code='S99916528', Valide=1), Row(Code='S99950276', Valide=0)]

## Create a dataframe from patient table

In [8]:
import pandas as pd
# create an engine
from sqlalchemy import create_engine
engine = create_engine('iris://' + user + ':' + password + '@' + host + ':' + str(port) + '/' + namespace)

sql = "select * from A1.Patient"

df = pd.read_sql(sql, engine)

print(df)

# transform the data to csv
df.to_csv("patients.csv")

DatabaseError: (intersystems_iris.dbapi._DBAPI.DatabaseError) [SQLCODE: <-30>:<Table or view not found>]
[Location: <Prepare>]
[%msg: < Table 'A1.PATIENT' not found>]
[SQL: select * from A1.Patient]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [16]:
import pandas as pd
# create an engine
from sqlalchemy import create_engine
engine = create_engine('iris://' + user + ':' + password + '@' + host + ':' + str(port) + '/' + namespace)

sql = "select * from A1.Patient"

df = pd.read_sql(sql, engine)

print(df)

# transform the data to csv
df.to_csv("patients.csv")

   ID                                           Key  \
0   4  Patient/888a7002-a8bd-e4cb-1b2f-b029845bc171
1  19  Patient/55baf6c7-9e86-83c2-4511-fea03c30f12e

  PatientBirthDatePatientBirthTimeValueDate  \
0                                      None
1                                      None

  PatientBirthDatePatientBirthTimeValueDateTime PatientGender
0                                    1956-01-28        female
1                                    2000-08-01          male

In [25]:
engine = create_engine('iris://' + user + ':' + password + '@' + host + ':' + str(port) + '/' + namespace)
sql = "SELECT id, lastname, firstname, dob, sex FROM app.personne"
df = pd.read_sql(sql, engine)

print(df)

   id  lastname firstname         dob   sex
0   1   Hendrix      Jimi  1942-11-27     M
1   2  Verdurin    Olivia  1954-09-15     F
2   3     azert     yuiop        None  None
3   4       aaa       bbb  2000-12-14  None
4   5     aaaHH     bbbYY  1980-02-23  None
5   6       kkk       lll  2000-10-14  None

In [ ]:
sql = "insert into app.personne (id,lastname,firstname) values (7,'ggg',kkk')

In [ ]:
conn.close()

In [23]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('iris://' + user + ':' + password + '@' + host + ':' + str(port) + '/' + namespace)

sql = "select id from app.personne"

df = pd.read_sql(sql, engine)

print(df)

NameError: name 'user' is not defined