# Connect to FHIR SQL Builder

In [1]:
import intersystems_iris as iris

## Create the dbapi connection

In [6]:
# create the dbapi connection

host = "iris-prod-2"
port = 1972
namespace = "IRISAPP"
user = "SuperUser"
password = "SYS"

conn = iris.connect(
                    hostname=host, 
                    port=port, 
                    namespace=namespace, 
                    username=user, 
                    password=password
                   )

# create a cursor
cur = conn.cursor()

## Create the DriverLicense Table

In [7]:
# execute a query
cur.execute("""create TABLE if not exists AB.DriverLicense (

    Code varchar(255) not null,
    Valide TINYINT not null

)""")

0

## Insert New Data

In [8]:
cur.execute("""delete AB.DriverLicense""")

0

In [9]:
cur.execute("""INSERT INTO AB.DriverLicense (Code, Valide) VALUES ('S99916528', 1)""")
cur.execute("""INSERT into AB.DriverLicense (Code, Valide) VALUES ('S99950276', 0)""")

1

## Check new data

In [10]:
cur.execute("select * from AB.DriverLicense")
cur.fetchall()

[Row(Code='S99916528', Valide=1), Row(Code='S99950276', Valide=0)]

## Create a dataframe from patient table

In [11]:
import pandas as pd
# create an engine
from sqlalchemy import create_engine
engine = create_engine('iris://' + user + ':' + password + '@' + host + ':' + str(port) + '/' + namespace)

sql = "select * from A1.Patient"

df = pd.read_sql(sql, engine)

print(df)

# transform the data to csv
df.to_csv("patients.csv")

/tmp/ipykernel_27651/583300264.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)

AttributeError: 'Engine' object has no attribute 'cursor'

In [ ]:
import pandas as pd
# create an engine
from sqlalchemy import create_engine
engine = create_engine('iris://' + user + ':' + password + '@' + host + ':' + str(port) + '/' + namespace)

sql = "select * from A1.Patient"

df = pd.read_sql(sql, engine)

print(df)

# transform the data to csv
df.to_csv("patients.csv")

In [12]:
engine = create_engine('iris://' + user + ':' + password + '@' + host + ':' + str(port) + '/' + namespace)
sql = "SELECT id, lastname, firstname, dob, sex FROM app.personne"
df = pd.read_sql(sql, engine)

print(df)

/tmp/ipykernel_27651/2151928839.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)

AttributeError: 'Engine' object has no attribute 'cursor'

In [13]:
sql = "insert into app.personne (id,lastname,firstname) values (7,'ggg',kkk')

SyntaxError: unterminated string literal (detected at line 1) (3192508282.py, line 1)

In [14]:
conn.close()

In [15]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('iris://' + user + ':' + password + '@' + host + ':' + str(port) + '/' + namespace)

sql = "select id from app.personne"

df = pd.read_sql(sql, engine)

print(df)

/tmp/ipykernel_27651/2484452095.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, engine)

AttributeError: 'Engine' object has no attribute 'cursor'